*.csv
*.mp3
entries.json
html/
.DS_Store
.ipynb_checkpoints/
index.html
__pycache__/
_tmp/
.latest.txt
_scratch/
_tmp*
google_defs.json
_checkpoints/
iterate_toward_v0_2.ipynb
_evals/

# Exclude local working files.
test*.json
results*.json

# But include saved evals, along with their source data.
!evals/**/*.json

